body {
  font-family: "Montserrat", sans-serif;
  color: #111111;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ===============HEADER=============== */

.header {
  background-color: #fafafa;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
}

.header-nav-logo span {
  font-style: italic;
}

.header-nav-list {
  display: flex;
  margin-left: 365px;
  gap: 24px;
}
.header-nav-list-item {
}

.header-nav-list-item-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus,
.header-nav-list-item-link:active {
  color: #fd9222;
}

.header-sm-list {
  display: flex;
  margin-left: auto;
  gap: 14px;
}

.header-sm-list-item {
}

.header-sm-list-item-link {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-sm-list-item-link:hover,
.header-sm-list-item-link:focus,
.header-sm-list-item-link:active {
  border-color: rgba(253, 146, 34, 0.1);
}

.header-sm-list-item-link:hover .header-sm-link-icon,
.header-sm-list-item-link:focus .header-sm-link-icon,
.header-sm-list-item-link:active .header-sm-link-icon {
  fill: #fd9222;
}

.header-sm-link-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ==================================== */

/* ===============HERO=============== */

.hero {
  background-color: #fafafa;
  padding-bottom: 80px;
  max-width: 1166px;
  margin-left: auto;
  margin-right: auto;
}

.hero-background-container {
  border-radius: 30px;
  background: rgba(17, 17, 17, 0.6);
  padding-top: 380px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/chocolate_main-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  max-width: 484px;
  margin-bottom: 32px;
  text-align: left;
}

.hero-btn-container {
  display: flex;
  align-items: center;
}

.hero-buy-btn {
  background-color: #fd9222;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  padding: 14px 40px;
  border-radius: 100px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-buy-btn:hover,
.hero-buy-btn:focus,
.hero-buy-btn:active {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-made-btn {
  background-color: transparent;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  padding: 14px 40px;
  border-radius: 100px;
  border: 1px solid #fff;
  margin-left: 14px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-made-btn:hover,
.hero-made-btn:focus,
.hero-made-btn:active {
  color: #fd9222;
  border-color: #fd9222;
}

.hero-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  gap: 14px;
  align-items: center;
}

.hero-link:hover,
.hero-link:focus,
.hero-link:active {
  color: #fd9222;
}

.hero-link:hover .hero-link-span,
.hero-link:focus .hero-link-span,
.hero-link:active .hero-link-span {
  background-color: #fd9222;
}

.hero-link:hover .hero-link-icon,
.hero-link:focus .hero-link-icon,
.hero-link:active .hero-link-icon {
  fill: #ffffff;
  transform: scale(1.38);
}

.hero-link-span {
  width: 38px;
  height: 38px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link-icon {
  fill: #fd9222;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ================================== */

/* ===============ADVANTAGES=============== */

.advantages {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.advantages-title {
}

.advantages-list {
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  gap: 88px;
}

.advantages-list-item {
  flex-basis: calc((100% - 88px * 2) / 3);
  position: relative;
}

.advantages-list-item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 124px;
  background-color: rgba(255, 255, 255, 0.5);
  top: 50%;
  right: -44px;
  transform: translateY(-50%);
}

.advantages-list-item-svg {
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-list-item-icon {
  fill: #fd9222;
}

.advantages-list-item-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}

.advantages-list-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* ======================================== */

/* ===============TASTES=============== */

.tastes {
  padding-top: 120px;
}

.tastes-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  width: 412px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.tastes-title span {
  color: #fd9222;
}

.tastes-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 24px;
}
.tastes-list-item {
  flex-basis: calc((100% - 32px * 3) / 4);
  padding: 28px 23px;
  border-radius: 15px;
  position: relative;
}

.tastes-list-item-icon {
  position: absolute;
  top: 14px;
  right: 14px;
}

.light-fill {
  fill: #fff;
}

.tastes-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
}

.tastes-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
}

.tastes-list-item:nth-child(2n + 2) {
  border: 1px solid #fd9222;
}

.tastes-list-item-img {
  margin-bottom: 36px;
}

.tastes-list-item-title {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.black-font {
  color: #111;
}

/* ==================================== */

/* ===============MADE=============== */

.made {
  padding-top: 120px;
}
.made-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.made-title span {
  color: #fd9222;
}

.made-img-list-conrainer {
  display: flex;
  gap: 20px;
}

.made-img-container {
  position: relative;
}

.made-play-btn {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.made-title-list-container {
  padding: 32px;
  width: 516px;
  background-color: #fff;
  border-radius: 15px;
}

.made-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.made-img {
}

.made-secondary-title {
  background-color: #ffffff;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 28px;
  width: 350px;
}

.made-list {
  background-color: #ffffff;
}

.made-list-item {
  margin-bottom: 24px;
  padding-left: 16px;
  position: relative;
}

.made-list-item:last-child {
  margin-bottom: 0;
}

.made-list-item::before {
  content: "";
  position: absolute;
  background-image: url(../images/Ellipse1.svg);
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
  top: 5px;
  left: 0;
}

.made-list-item-text {
  color: #111;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* ================================== */

/* ===============PRODUCTS=============== */

.products {
  padding-top: 120px;
  width: 1166px;
  margin-left: auto;
  margin-right: auto;
}

.products-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.products-title span {
  color: #fd9222;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  row-gap: 24px;
}

.products-list-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #fff;
  padding: 32px 20px;
  flex-basis: calc((100% - 18px * 3) / 4);
  text-align: center;
}

.products-list-item-img {
  margin-bottom: 8px;
}

.products-list-item-title {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.products-list-item-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}

.products-list-item-btn {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
  cursor: pointer;
  padding: 8px 20px;
}

/* ====================================== */

/* ===============SELLERS=============== */

.sellers {
  padding-top: 120px;
}

.sellers-title {
  color: #fd9222;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.sellers-title span {
  color: #111111;
}

.sellers-list {
  display: flex;
  gap: 16px;
}

.sellers-list-item {
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  flex-basis: calc((100% - 32px) / 3);
}

.sellers-list-item-overlay {
  position: relative;
  overflow: hidden;
}

.sellers-list-item:hover .sellers-overlay-container,
.sellers-list-item:focus .sellers-overlay-container {
  transform: translateY(0);
}

.sellers-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px 15px 0px 0px;
  background-color: linear-gradient(
    165deg,
    rgba(253, 253, 255, 0.1) 3.97%,
    rgba(8, 2, 21, 0) 109.76%
  );
  backdrop-filter: blur(7.5px);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sellers-overlay-text {
  color: #fafafa;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  width: 288px;
  text-align: left;
}

.sellers-list-item-img {
}

.sellers-list-item-title {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
}

/* ===================================== */

/* ===============REVIEWS=============== */

.reviews {
  padding-top: 120px;
  padding-bottom: 120px;
}

.reviews-title {
  color: #fd9222;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  padding-bottom: 91px;
}

.reviews-title span {
  color: #111111;
}

.reviews-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}

.reviews-list-item {
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 100px 0px rgba(17, 17, 17, 0.03);
  padding: 56px 24px 24px 24px;
  flex-basis: calc((100% - 56px) / 3);
  position: relative;
}

.reviews-list-item-img {
  position: absolute;
  top: -40px;
  left: 140px;
}

.reviews-list-item-title {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 24px;
}

.reviews-list-item-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.reviews-btn {
  background-color: transparent;
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fd9222;
  cursor: pointer;
  padding: 14px 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-btn:hover,
.reviews-btn:focus,
.reviews-btn:active {
  color: #ffffff;
  background-color: #fd9222;
}

/* ===================================== */

/* ===============FOOTER=============== */

.footer {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-first-part {
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
  margin-bottom: 24px;
}

.footer-sm-container {
  margin-left: auto;
  margin-right: 50px;
}

.footer-main-text {
  color: #fd9222;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  width: 300px;
}

.footer-main-text span {
  color: #ffffff;
}

.footer-sm-text {
  color: #fff;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 14px;
}

.footer-sm-list {
  display: flex;
  gap: 14px;
}

.footer-sm-list-item {
}

.footer-sm-list-item-link {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sm-list-item-link:hover .footer-sm-icon,
.footer-sm-list-item-link:focus .footer-sm-icon,
.footer-sm-list-item-link:active .footer-sm-icon {
  fill: #fd9222;
}

.footer-sm-list-item-link:hover,
.footer-sm-list-item-link:focus,
.footer-sm-list-item-link:active {
  border-color: rgba(253, 146, 34, 0.1);
}

.footer-sm-icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-text {
  color: #fff;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 14px;
}

.footer-address {
  font-style: inherit;
  text-align: left;
}

.footer-address-list {
}

.footer-address-list-item {
  margin-bottom: 4px;
}

.footer-address-list-item-link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-list-item-link:hover,
.footer-address-list-item-link:focus,
.footer-address-list-item-link:active {
  color: #fd9222;
}

.footer-second-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
}

.footer-nav-list {
  display: flex;
  gap: 24px;
}

.footer-nav-list-item {
}

.footer-nav-list-item-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav-list-item-link:hover,
.footer-nav-list-item-link:focus,
.footer-nav-list-item-link:active {
  color: #fd9222;
}

.footer-form {
  display: flex;
  gap: 8px;
}

.footer-form-label {
}

.footer-form-input {
  width: 313px;
  height: 52px;
  padding: 14px 24px;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.footer-form-input:focus {
  border-color: #fd9222;
}

.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}

.footer-form-btn {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  background-color: #fd9222;
  padding: 17px 40px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus,
.footer-form-btn:active {
  background-color: #fcf1e0;
  color: #fd9222;
}

/* ==================================== */

/* ===============MODAL=============== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  visibility: visible;
  pointer-events: auto;
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 517px;
  padding: 40px;
  border-radius: 15px;
  background-color: #fafafa;
}

.modal-close-btn {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn:active {
  background-color: #fd9222;
}

.modal-close-icon {
  stroke: #111;
}

.modal-title {
  color: #111;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: left;
  width: 298px;
  margin-bottom: 40px;
}

.modal-span {
  color: #fd9222;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.modal-input-wrapper {
  margin-bottom: 18px;
  position: relative;
}

.modal-form-label {
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
  display: block;
}

.modal-form-input {
  padding: 22px 24px 22px 62px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
  width: 100%;
  height: 68px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  color: #404040;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}

.modal-form-input:focus {
  border-color: #fd9222;
}

.modal-form-input:focus + .modal-input-icon {
  stroke: #fd9222;
}

.modal-input-icon {
  stroke: #404040;
  fill: #fafafa;
  position: absolute;
  left: 24px;
  bottom: 22px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-wrapper {
  margin-bottom: 18px;
}

.modal-form-textarea {
  resize: none;
  width: 100%;
  padding: 22px 24px;
  height: 137px;
  outline: transparent;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404040;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}

.modal-form-textarea:focus {
  border-color: #fd9222;
}

.modal-form-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}

.modal-checkbox-container {
  display: flex;
  margin-bottom: 42px;
  align-items: center;
}

.modal-checkbox-label {
  color: rgba(64, 64, 64, 0.6);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
}

.modal-checkbox-input {
}

.modal-checkbox-input:checked + .modal-checkbox-span {
  background-color: #fd9222;
  border: none;
}

.modal-checkbox-span {
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 12px;
  flex-shrink: 0;
  cursor: pointer;
}

.modal-checkbox-vector {
  fill: #fff;
  bottom: 0;
  left: 0;
}

.modal-text-span {
}

.modal-checkbox-link {
  color: var(--orange, #fd9222);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
}

.modal-form-btn {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  background-color: #fd9222;
  display: block;
  padding: 14px 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus,
.modal-form-btn:active {
  background-color: #fcf1e0;
  color: #fd9222;
}

/* =================================== */
